@import "../common.css";
$black: #1a1a1a;
$grey: #adadad;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  span {
    font-weight: 700;
    font-size: 0.8vw;
    margin: 0 2vw;
    color: #adadad;
    cursor: pointer;

    &.active {
      text-decoration: underline;
      color: $black;
    }
  }
}

section {
  .content {
    width: 100%;
    height: 100vh;
    padding-top: 2.5vw;
    overflow: hidden;

    &.get_up {
      position: relative;

      video {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .cover {
      display: flex;
      height: calc((100vh - 2.5vw) * 0.6);

      >* {
        >h1 {
          height: 2.5vw;
          font-size: 0.8vw;
          font-weight: 600;
          padding: 0 0.4vw;
          display: flex;
          align-items: center;
        }
      }

      .media {
        height: 100%;
        font-size: 0;

        img {
          height: calc(100% - 2.5vw);
        }
      }

      .comment {
        height: fit-content;

        h1 {
          padding: 0 0.8vw;
        }

        p {
          font-size: 0.7vw;
          line-height: 1.4;
          font-weight: 500;
          padding: 0.8vw;
        }
      }
    }

    .details {
      display: flex;

      .detail {
        flex: 1;

        h2 {
          font-size: 1vw;
          font-weight: 600;
          padding: 0.4vw;
        }

        ul {
          padding: 0.4vw;

          li {
            font-size: 0.77vw;
            font-weight: 700;
            margin: 0.8vw 0;
          }
        }


        p {
          font-size: 0.77vw;
          padding: 0.4vw;

          em {
            display: inline-block;
            min-width: 8vw;
            margin-right: 0.8vw;
            margin-bottom: 0.4vw;
            font-weight: 600;
            font-size: 0.88vw;
          }
        }

        a {
          display: block;
          height: calc((100vh - 2.5vw) * 0.4);
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            height: 100%;
          }
        }
      }
    }
  }
}